body {
    background-image: url("hello/images/kangnam_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}